Metadata-Version: 2.4
Name: types-requests
Version: 0.0.57
Summary: Typing stubs for requests
License-Expression: Apache-2.0
Project-URL: Homepage, https://github.com/Cray-HPE/python3-types-requests
Project-URL: GitHub, https://github.com/Cray-HPE/python3-types-requests
Project-URL: Issue tracker, https://github.com/Cray-HPE/python3-types-requests/issues
Classifier: Programming Language :: Python :: 3
Classifier: Typing :: Stubs Only
Requires-Python: >=3.9
Description-Content-Type: text/markdown
License-File: LICENSE
Requires-Dist: urllib3>=2
Dynamic: license-file

INSERT_DESCRIPTION_HERE
